<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Stock</li>
      <li class="breadcrumb-item active" aria-current="page">Stock Card</li>
    </ol>
  </nav>
  
  <div id="data-grid-demo">
      <dx-data-grid
      
      #targetDataGrid
        id="gridContainer"
        width="1400px"
        height="800px"
        [dataSource]="dataSource"
        keyExpr="id"
        [showBorders]="true"
          [allowColumnReordering]="true"
          (onRowInserting)="onRowInserting($event)"
          (onRowUpdating)="onRowUpdating($event)"
          (onRowRemoving)="onRowRemoving($event)"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          columnResizingMode="nextColumn"
          [columnMinWidth]="100"
          [filterRow]="{ visible: true, applyFilter: 'auto' }"
          [headerFilter]="{ visible: true }"
          [groupPanel]="{ visible: true }"
          [searchPanel]="{ visible: true }"
          [selection]="{ mode: 'multiple' }"
          [rowAlternationEnabled]="true"
          [remoteOperations]="false"
          
      >
      <dxo-scrolling rowRenderingMode="standart"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
      <dxo-filter-panel [visible]="true"> </dxo-filter-panel>
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxo-export
          [enabled]="true"
          [formats]="['xlsx', 'pdf']"
      ></dxo-export>
        <dxo-editing
          mode="popup"
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true"
          [useIcons]="true"
        >
          <dxo-popup
            title="Stock Card"
            [showTitle]="true"
            [width]="1000"
            [height]="645"
          >
          <dxi-toolbar-item
          toolbar="bottom"
          widget="dxButton"
          location="after"
          [options]="successButtonOptions"
        >
        </dxi-toolbar-item>
        <dxi-toolbar-item
          toolbar="bottom"
          widget="dxButton"
          location="after"
          [options]="cancelButtonOptions"
        >
        </dxi-toolbar-item>
          </dxo-popup>
          <dxo-form>
            <dxi-item itemType="group" [colSpan]="1" caption="General Information">
              <dxi-item dataField="code" [colCount]="1">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="name" [colCount]="1">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="stockTypeID" [colCount]="1"></dxi-item>
              <dxi-item dataField="stockUnitID" [colCount]="1"></dxi-item>
              <dxi-item dataField="stockGroupID" [colCount]="1"></dxi-item>
              <dxi-item dataField="transferredQuantity" [colCount]="1"></dxi-item>
              <dxi-item dataField="availableQuantity" [colCount]="1"></dxi-item>
              <dxi-item dataField="totalEntryQuantity" [colCount]="1"></dxi-item>
              <dxi-item dataField="totalOutputQuantity" [colCount]="1"></dxi-item>
              <!-- <dxi-item dataField="vatRate" [colCount]="1"></dxi-item>
              <dxi-item dataField="discountRate" [colCount]="1"></dxi-item> -->
            </dxi-item>
            <dxi-item itemType="group" caption="Price Information">
              
              <dxi-item dataField="price1" [colCount]="1"></dxi-item>
              <dxi-item dataField="price2" [colCount]="1"></dxi-item>
              <dxi-item dataField="price3" [colCount]="1"></dxi-item>
              <dxi-item dataField="currencyType" [colCount]="1"></dxi-item>
            </dxi-item>
          
          </dxo-form>
        </dxo-editing>
    
        <dxi-column dataField="code" dataType="string" [visible]="true" [width]="150">,
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="name" dataType="string" [visible]="true" [width]="150">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="stockTypeID" caption="Stock Type" dataType="string" [visible]="true" [width]="150">
            <dxo-lookup [dataSource]="stockTypeLookup" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
    
        <dxi-column dataField="stockUnitID" caption="Stock Unit" dataType="string" [visible]="true" [width]="150">
            <dxo-lookup [dataSource]="stockUnitLookup" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
    
        <dxi-column dataField="stockGroupID" caption="Stock Group" dataType="string" [visible]="true" [width]="150">
            <dxo-lookup [dataSource]="stockGroupLookup" valueExpr="id" displayExpr="name"></dxo-lookup>
        </dxi-column>
        <!-- <dxi-column dataField="vatRate" caption="VAT Rate" dataType="number" [visible]="true" [width]="150"></dxi-column>
        <dxi-column dataField="discountRate" caption="Discount Rate" dataType="number" [visible]="true" [width]="150"></dxi-column> -->
        <dxi-column caption="Quantity" alignment="center ">
          <dxi-column dataField="transferredQuantity" caption="Transferred" dataType="number"  [visible]="true" [width]="150"></dxi-column>
        <dxi-column dataField="availableQuantity" caption="Available" dataType="number"  [visible]="true" [width]="150"></dxi-column>
        <dxi-column dataField="totalEntryQuantity" caption="Total Entry" dataType="number"  [visible]="true" [width]="150"></dxi-column>
        <dxi-column dataField="totalOutputQuantity" caption="Total Output" dataType="number"  [visible]="true" [width]="150"></dxi-column>
        </dxi-column>
        <dxi-column caption="Price" alignment="center">
        <dxi-column dataField="price1" caption=" 1" dataType="number"  [visible]="true"></dxi-column>
        <dxi-column dataField="price2" caption=" 2" dataType="number"  [visible]="true"></dxi-column>
        <dxi-column dataField="price3" caption=" 3" dataType="number"  [visible]="true"></dxi-column>
        </dxi-column>
        <dxi-column dataField="currencyType" caption="Currency Type" dataType="string"  [visible]="true" [width]="200">
          <dxo-lookup [dataSource]="currencyTypeLookup" valueExpr="id" displayExpr="displayName"></dxo-lookup>
        </dxi-column>
        
      </dx-data-grid>
    </div>