<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Stock</li>
    <li class="breadcrumb-item active" aria-current="page">Stock Type</li>
  </ol>
</nav>

<div id="data-grid-demo">
    <dx-data-grid
    #targetDataGrid
      id="gridContainer"
      [dataSource]="dataSource"
      keyExpr="id"
      (onRowInserting)="onRowInserting($event)"
      (onRowUpdating)="onRowUpdating($event)"
      (onRowRemoving)="onRowRemoving($event)"
      [showBorders]="true"
      height="800px"
          [allowColumnResizing]="true"
          columnResizingMode="nextColumn"
          [columnMinWidth]="100"
        [allowColumnReordering]="true"
        [columnHidingEnabled]="true"
        [filterRow]="{ visible: true, applyFilter: 'auto' }"
        [headerFilter]="{ visible: true }"
        [groupPanel]="{ visible: true }"
        [searchPanel]="{ visible: true }"
        [selection]="{ mode: 'multiple' }"
        [rowAlternationEnabled]="true"
        [remoteOperations]="false"
        
    >
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="10"> </dxo-paging>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="allowedPageSizes"
    [displayMode]="displayMode"
    [showPageSizeSelector]="showPageSizeSelector"
    [showInfo]="showInfo"
    [showNavigationButtons]="showNavButtons"
  >
  </dxo-pager>
    <dxo-filter-panel [visible]="true"> </dxo-filter-panel>
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-export
        [enabled]="true"
        [formats]="['xlsx', 'pdf']"
    ></dxo-export>
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [useIcons]="true"
      >
        <dxo-popup
          title="Stock Type"
          [showTitle]="true"
          [width]="500"
          [height]="300"
        >
        <dxi-toolbar-item
        toolbar="bottom"
        widget="dxButton"
        location="after"
        [options]="successButtonOptions"
      >
      </dxi-toolbar-item>
      <dxi-toolbar-item
        toolbar="bottom"
        widget="dxButton"
        location="after"
        [options]="cancelButtonOptions"
      >
      </dxi-toolbar-item>
        </dxo-popup>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
            <dxi-item dataField="code" [colCount]="2"></dxi-item>
            <dxi-item dataField="name" [colCount]="2"></dxi-item>
            <dxi-item dataField="condition"></dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>
  
      <dxi-column dataField="code" dataType="string">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="name" dataType="string">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="condition" dataType="boolean"> </dxi-column>
    </dx-data-grid>
  </div>