.bg-dark {
    background-color: #1e272e !important; 
}

.nav-link {
    color: #ecf0f1 !important; 
}

.nav-link.active {
    background-color: #34495e; 
}

.dropdown-menu {
    background-color: #1e272e !important; 
}

.dropdown-item {
    color: #ecf0f1 !important; 
}

.dropdown-item:hover {
    background-color: #34495e !important; 
}
