
.dx-datagrid-headers {
    background-color: #394A57; 
    color: #ffffff; 
    border: none;
    border-radius: 0; 
    box-shadow: none; 
    font-weight: bold; 
    font-size: 18px;
}

.dx-datagrid-headers:hover {
    background-color: #2C3136; 
}

.dx-datagrid-headers.dx-header-row .dx-datagrid-text-content.dx-datagrid-text-content-hidden {
    background-color: #1E2226; 
}

.dx-datagrid-headers .dx-datagrid-filter-button-popup {
    background-color: #343A40; 
}

.dx-datagrid-headers .dx-datagrid-filter-button-popup:hover {
    background-color: #2C3136; 
}

.dx-datagrid-filter-row {
    background-color: #ffffff; 
}

.dx-popup .dx-popup-bottom .dx-button {
    background-color: #FF5733; 
    color: #ffffff; 
}
.dx-datagrid-rowsview tbody tr {
    border-bottom: 1px solid #ccc; 
}
.breadcrumb {
    background-color: transparent; 
    border-radius: 0; 
    font-size: 16px; 
}

.breadcrumb-item {
    margin: 0; 
    padding: 0.5rem 0.25rem; 
}

.breadcrumb-item a {
    color: #007bff; 
    text-decoration: none; 
}

.breadcrumb-item.active {
    color: #555; 
}
.swal2-container {
    z-index: 5000 !important;
  }