<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Movements</li>
      <li class="breadcrumb-item active" aria-current="page">Stock Movement</li>
    </ol>
  </nav>
  
  <div id="data-grid-demo">
      <dx-data-grid
      #targetDataGrid
        id="gridContainer"
        width="1400px"
        height="800px"
        [dataSource]="dataSource"
        keyExpr="id"
        [showBorders]="true"
        (onExporting)="onExporting($event)"
          (onEditingStart)="onEditingStartMaster($event)"
          (onSaving)="onSavingHeader($event)"
          [allowColumnReordering]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          columnResizingMode="nextColumn"
          [columnMinWidth]="100"
          [filterRow]="{ visible: true, applyFilter: 'auto' }"
          [headerFilter]="{ visible: true }"
          [groupPanel]="{ visible: true }"
          [searchPanel]="{ visible: true }"
          [selection]="{ mode: 'multiple' }"
          [rowAlternationEnabled]="true"
          [remoteOperations]="false"
          
      >
      <dxo-export
          [enabled]="true"
          [formats]="['xlsx']"
	  [allowExportSelectedData]="true"
      ></dxo-export>
      <dxo-scrolling rowRenderingMode="standart"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
      <dxo-filter-panel [visible]="true"> </dxo-filter-panel>
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxo-editing
          mode="popup"
          
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true"
          [useIcons]="true"
        >
          <dxo-popup
            [onHidden]="onHiddenHeaderPopup"
            [onShowing]="onShowingPopup"
            title="Stock Movement"
            [showTitle]="true"
            [width]="1300"
            [height]="900"
          >
          <dxi-toolbar-item
          toolbar="bottom"
          widget="dxButton"
          location="after"
          [options]="successButtonOptions"
        >
        </dxi-toolbar-item>
        <dxi-toolbar-item
          toolbar="bottom"
          widget="dxButton"
          location="after"
          [options]="cancelButtonOptions"
        >
        </dxi-toolbar-item>
          </dxo-popup>
          <dxo-form>
            <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
              <dxi-item dataField="typeCode" [colCount]="1">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="receiptNo" [colCount]="1">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="customerCardID" [colCount]="1"></dxi-item>
              <!-- <dxi-item dataField="firstAmount" [colCount]="1"></dxi-item>
              <dxi-item dataField="discountAmount" [colCount]="1"></dxi-item>
              <dxi-item dataField="vatAmount" [colCount]="1"></dxi-item>
              <dxi-item dataField="totalAmount" [colCount]="1"></dxi-item> -->
              <!-- <dxi-item dataField="addressID" ></dxi-item> -->
              <dxi-item dataField="paymentType"></dxi-item>
            </dxi-item>
            <dxi-item itemtype="group" [colSpan]="2">
              <div #gridContainer *ngIf="visible">
                <dx-data-grid
                    #targetDataGrid2
                    id="gridContainer"
                    width="1250px"
                    height="450"
                    [(dataSource)]="dataSourceDetail"
                    keyExpr="id"
                    [showBorders]="true"
                    [allowColumnReordering]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    columnResizingMode="nextColumn"
                    [columnMinWidth]="100"
                    [filterRow]="{ visible: true, applyFilter: 'auto' }"
                    [headerFilter]="{ visible: true }"
                    [groupPanel]="{ visible: true }"
                    [searchPanel]="{ visible: true }"
                    (onExporting)="onExporting($event)"
                    [selection]="{ mode: 'multiple' }"
                    [rowAlternationEnabled]="true"
                    (onRowInserting)="onRowInsertingDetail($event)"
                    (onRowUpdating)="onRowUpdatingDetail($event)"
                    (onRowRemoving)="onRowRemovingDetail($event)"
                    [remoteOperations]="false">
                    <dxo-editing
                    mode="batch"
                    [allowUpdating]="true"
                    [allowAdding]="true"
                    [allowDeleting]="true"
                    [useIcons]="true"
                  ></dxo-editing>
                  <dxo-export
          [enabled]="true"
          [formats]="['xlsx']"
	  [allowExportSelectedData]="true"
      ></dxo-export>
                      <dxi-column dataField="stockCardID" dataType="string" caption="Stock" [width]="100">
                          <dxo-lookup [dataSource]="stockCardLookup" valueExpr="id" displayExpr="name"></dxo-lookup>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dxi-column>
                      <dxi-column dataField="quantity" [setCellValue]="setCellValueQuantity" dataType="number" caption="Quantity" [width]="120">
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dxi-column>
                      <dxi-column dataField="price" [setCellValue]="setCellValuePrice" dataType="number" caption="Price" [width]="120">
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dxi-column>
                      <dxi-column dataField="firstAmount" [allowEditing]="false" dataType="number" caption="Amount" [width]="120"></dxi-column>
                      <dxi-column dataField="discountRate" [setCellValue]="setCellValueDiscountRate" dataType="number" caption="Discount Rate" [width]="180">
                      </dxi-column>
                      <dxi-column dataField="discountAmount" [allowEditing]="false" dataType="number" caption="Discount Amount" [width]="200 ">
                      </dxi-column>
                      <dxi-column dataField="vatRate" [setCellValue]="setCellValueVATRate"  dataType="number" caption="VAT Rate" [width]="120">
                    </dxi-column>
                    <dxi-column dataField="vatAmount" dataType="number" caption="VAT Amount" [width]="150">
                    </dxi-column>
                    <dxi-column dataField="totalAmount" dataType="number" [allowEditing]="false" caption="Fınal Amount" [width]="150"></dxi-column>
                </dx-data-grid>
              </div>
                
            </dxi-item>
          </dxo-form>
        </dxo-editing>
    
        <dxi-column dataField="typeCode" caption="Type" dataType="string" [visible]="true" [width]="125">
          <dxo-lookup [dataSource]="typeLookup" valueExpr="id" displayExpr="displayName"></dxo-lookup>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column caption="Receipt No" dataField="receiptNo" dataType="string" [visible]="true" [width]="125">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="customerCardID" dataType="string" caption="Customer" [width]="200">
            <dxo-lookup [dataSource]="customerCardLookup" valueExpr="id" displayExpr="name" ></dxo-lookup>
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="firstAmount" caption="First Amount" dataType="number" [width]="180"></dxi-column>
        <dxi-column dataField="discountAmount" caption="Discount Amount" dataType="number" [width]="200"></dxi-column>
        <dxi-column dataField="vatAmount" caption="VAT Amount" dataType="number" [width]="170"></dxi-column>
        <dxi-column dataField="totalAmount" caption="Total Amount" dataType="number" [width]="180"></dxi-column>
        
        <dxi-column dataField="paymentType" dataType="string" caption="Payment Type" [width]="200">
          <dxo-lookup [dataSource]="paymentTypeLookup" valueExpr="id" displayExpr="displayName"></dxo-lookup>
            <!-- <dxi-validation-rule type="required"></dxi-validation-rule> -->
        </dxi-column>
        
      </dx-data-grid>
    </div>