<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Customer</li>
      <li class="breadcrumb-item active" aria-current="page">Customer Address</li>
    </ol>
  </nav>
  
  <div id="data-grid-demo">
      <dx-data-grid
      #targetDataGrid
        id="gridContainer"
        [dataSource]="dataSource"
        keyExpr="id"
        height="800px"
          [allowColumnResizing]="true"
          columnResizingMode="nextColumn"
          (onExporting)="onExporting($event)"
          [columnMinWidth]="100"
          (onSaving)="onSavingHeader($event)"
          (onEditingStart)="onEditingStartMaster($event)"
          [showBorders]="true"
          [allowColumnReordering]="true"
          [columnHidingEnabled]="true"
          [filterRow]="{ visible: true, applyFilter: 'auto' }"
          [headerFilter]="{ visible: true }"
          [groupPanel]="{ visible: true }"
          [searchPanel]="{ visible: true }"
          [selection]="{ mode: 'multiple' }"
          [rowAlternationEnabled]="true"
          [remoteOperations]="false"
          
      >
      <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
      <dxo-filter-panel [visible]="true"> </dxo-filter-panel>
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxo-export
          [enabled]="true"
          [formats]="['xlsx']"
          [allowExportSelectedData]="true"
      ></dxo-export>
      <dxo-editing
      mode="popup"
      
      [allowUpdating]="true"
      [allowAdding]="false"
      [allowDeleting]="false"
      [useIcons]="true"
    >
      <dxo-popup
        [onHidden]="onHiddenHeaderPopup"
        [onShowing]="onShowingPopup"
        title="Customer Address"
        [showTitle]="true"
        [width]="1300"
        [height]="900"
      >
      <dxi-toolbar-item
      toolbar="bottom"
      widget="dxButton"
      location="after"
      [options]="successButtonOptions"
    >
    </dxi-toolbar-item>
    <dxi-toolbar-item
      toolbar="bottom"
      widget="dxButton"
      location="after"
      [options]="cancelButtonOptions"
    >
    </dxi-toolbar-item>
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="name" [colCount]="1"></dxi-item>
        </dxi-item>
        <dxi-item itemtype="group" [colSpan]="2">
          <div #gridContainer *ngIf="visible">
            <dx-data-grid
                #targetDataGrid2
                id="gridContainer"
                width="1250px"
                height="450"
                [(dataSource)]="dataSourceDetail"
                (onRowInserting)="onRowInserting($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)"
                (onExporting)="onExporting($event)"
                keyExpr="id"
                [showBorders]="true"
                [allowColumnReordering]="true"
                [columnAutoWidth]="true"
                [allowColumnResizing]="true"
                columnResizingMode="nextColumn"
                [columnMinWidth]="100"
                [filterRow]="{ visible: true, applyFilter: 'auto' }"
                [headerFilter]="{ visible: true }"
                [groupPanel]="{ visible: true }"
                [searchPanel]="{ visible: true }"
                [selection]="{ mode: 'multiple' }"
                [rowAlternationEnabled]="true"
                [remoteOperations]="false">
                <dxo-editing
                mode="batch"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true"
                [useIcons]="true"
              ></dxo-editing>
              <dxo-export [enabled]="true" [formats]="['xlsx']" [allowExportSelectedData]="true"></dxo-export>
                  <dxi-column dataField="code" caption="Code" dataType="string"></dxi-column>
                  <dxi-column dataField="road" caption="Road" dataType="string"></dxi-column>
                  <dxi-column dataField="street" caption="Street" dataType="string"></dxi-column>
                  <dxi-column dataField="buildingName" caption="Building Name" dataType="string"></dxi-column>
                  <dxi-column dataField="buildingNo" caption="Building No" dataType="number"></dxi-column>
                  <dxi-column dataField="postCode" caption="Post Code" dataType="number"></dxi-column>
                  <dxi-column dataField="districtId" caption="District" dataType="string">
                      <dxo-lookup [dataSource]="districtLookup" valueExpr="id" displayExpr="name"></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="cityId" caption="City" dataType="string">
                      <dxo-lookup [dataSource]="cityLookup" valueExpr="id" displayExpr="name"></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="countryId" caption="Country" dataType="string">
                      <dxo-lookup [dataSource]="countryLookup" valueExpr="id" displayExpr="name"></dxo-lookup>
                  </dxi-column>
            </dx-data-grid>
          </div>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxi-column dataField="code" dataType="string" caption="Customer Code"></dxi-column>
    <dxi-column dataField="name" dataType="string" caption="Customer Name" [allowEditing]="false"></dxi-column>
      </dx-data-grid>
    </div>